# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
public/images/2a/2a-Amanita phalloides 1.webp
public/images/2a/2a-Amanita phalloides 2.webp
public/images/2a/2a-Amanita phalloides 3.webp
public/images/2a/2a-Amanita phalloides 4.webp
public/images/2a/2a-Amanita phalloides 5.webp
public/images/2a/2a-Amanita phalloides var. alba 1.webp
public/images/2a/2a-Amanita phalloides var. alba 2.webp
public/images/2a/2a-Amanita phalloides var. alba 3.webp
public/images/2a/2a-Amanita phalloides var. alba 4.webp
public/images/2a/2a-Amanita phalloides var. alba 5.webp
public/images/2a/2a-Amanita verna 1.webp
public/images/2a/2a-Amanita verna 2.webp
public/images/2a/2a-Amanita verna 3.webp
public/images/2a/2a-Amanita verna 4.webp
public/images/2a/2a-Amanita verna 5.webp
public/images/2a/2a-Amanita virosa 1.webp
public/images/2a/2a-Amanita virosa 2.webp
public/images/2a/2a-Amanita virosa 3.webp
public/images/2a/2a-Amanita virosa 4.webp
public/images/2a/2a-Cortinarius orellanus 1.webp
public/images/2a/2a-Cortinarius orellanus 2.webp
public/images/2a/2a-Cortinarius orellanus 3.webp
public/images/2a/2a-Cortinarius orellanus 4.webp
public/images/2a/2a-Cortinarius orellanus 5.webp
public/images/2a/2a-Cortinarius speciosissimus 1.webp
public/images/2a/2a-Cortinarius speciosissimus 2.webp
public/images/2a/2a-Cortinarius speciosissimus 3.webp
public/images/2a/2a-Galerina marginata 1.webp
public/images/2a/2a-Gyromitra esculenta 1.webp
public/images/2a/2a-Lepiota brunneoincarnata 1.webp
public/images/2a/2a-Lepiota brunneoincarnata 2.webp
public/images/2a/2a-Lepiota helveola 1.webp
public/images/2a/2a-Lepiota helveola 2.webp
public/images/2a/2a-Lepiota subincarnata 1.webp
public/images/2a/2a-Lepiota subincarnata 2.webp
public/images/2a/2a-Lepiota subincarnata 3.webp
public/images/2a/2a-Trcholoma equestre 1.webp
public/images/2a/2a-Tricholoma equestre 2.webp
public/images/2a/2a-Tricholoma equestre 3.webp
public/images/2a/2a-Tricholoma equestre 4.webp
public/images/2a/2a-Tricholoma equestre 5.webp
public/images/2a/2a-Tricholoma equestre 6.webp
public/images/2a/2a-Tricholoma equestre 7.webp
public/images/2b/2b-Agaricus bresadolanus 2.webp
public/images/2b/2b-Agaricus bresadolanus.webp
public/images/2b/2b-Agaricus xanthodermus 1.webp
public/images/2b/2b-Agaricus xanthodermus 2.webp
public/images/2b/2b-Amanita muscaria 1.webp
public/images/2b/2b-Amanita muscaria 2.webp
public/images/2b/2b-Amanita pantherina 1.webp
public/images/2b/2b-Amanita pantherina 2.webp
public/images/2b/2b-Clitocybe dealbata 1.webp
public/images/2b/2b-Clitocybe dealbata 2.webp
public/images/2b/2b-Entoloma sinuatum 1.webp
public/images/2b/2b-Entoloma sinuatum 2.webp
public/images/2b/2b-Entoloma sinuatum 3.webp
public/images/2b/2b-Entoloma sinuatum 4.webp
public/images/2b/2b-Entolona sinuatum 5.webp
public/images/2b/2b-Hebeloma sinapizans 1.webp
public/images/2b/2b-Hebeloma sinapizans 2.webp
public/images/2b/2b-Hypholoma fasciculare 1.webp
public/images/2b/2b-Hypholoma fasciculare 2.webp
public/images/2b/2b-Hypholoma fasciculare 3.webp
public/images/2b/2b-Hypholoma lateritium 1.webp
public/images/2b/2b-Hypholoma lateritium 2.webp
public/images/2b/2b-Inocybe fastigiata 1.webp
public/images/2b/2b-Inocybe fastigiata 2.webp
public/images/2b/2b-Inocybe fastigiata 3.webp
public/images/2b/2b-Inocybe fastigiata 4.webp
public/images/2b/2b-Inocybe fastigiata 5.webp
public/images/2b/2b-Inocybe fastigiata 6.webp
public/images/2b/2b-Inocybe fastigiata 7.webp
public/images/2b/2b-Inocybe fastigiata 8.webp
public/images/2b/2b-Inocybe fastigiata 9.webp
public/images/2b/2b-Inocybe fastigiata 10.webp
public/images/2b/2b-Lactarius piperatus 1.webp
public/images/2b/2b-Lactarius piperatus 2.webp
public/images/2b/2b-Lepiota cristata 1.webp
public/images/2b/2b-Lepiota cristata 2.webp
public/images/2b/2b-Mycena pura 1.webp
public/images/2b/2b-Mycena pura 2.webp
public/images/2b/2b-Mycena pura 3.webp
public/images/2b/2b-Omphalotus olearius 1.webp
public/images/2b/2b-Omphalotus olearius 2.webp
public/images/2b/2b-Omphalotus olearius 3.webp
public/images/2b/2b-Omphalotus olearius 4.webp
public/images/2b/2b-Omphalotus olearius 5.webp
public/images/2b/2b-Paxillus involutus 1.webp
public/images/2b/2b-Paxillus involutus 2.webp
public/images/2b/2b-Paxillus involutus 3.webp
public/images/2b/2b-Ramaria formosa 10610.webp
public/images/2b/2b-Ramaria formosa.webp
public/images/2b/2b-Rubroboletus lupinus 1.webp
public/images/2b/2b-Rubroboletus lupinus 2.webp
public/images/2b/2b-Rubroboletus lupinus 3.webp
public/images/2b/2b-Rubroboletus satanas 1.webp
public/images/2b/2b-Rubroboletus satanas 2.webp
public/images/2b/2b-Rubroboletus satanas 3.webp
public/images/2b/2b-Rubroboletus satanas 4.webp
public/images/2b/2b-Russula luteotacta 2.webp
public/images/2b/2b-Russula luteotacta 2714.webp
public/images/2b/2b-Russula torulosa 1.webp
public/images/2b/2b-Russula torulosa 2.webp
public/images/2b/2b-Tricholoma bresadolanum 1.webp
public/images/2b/2b-Tricholoma bresadolanum 2.webp
public/images/2b/2b-Tricholoma bresadolanum 3.webp
public/images/2b/2b-Tricholoma pardinum 1.webp
public/images/2b/2b-Tricholoma pardinum 2.webp
public/images/2b/2b-Tricholoma pardinum 3.webp
public/images/2b/2b-Tricholoma pardinum 4.webp
public/images/2b/2b-Tricholoma pardinum 5.webp
public/images/2b/2b-Tricholoma sulphureum 1.webp
public/images/2b/2b-Tricholoma sulphureum 2.webp
public/images/2c/2c-Agaricus arvensis 1.webp
public/images/2c/2c-Agaricus arvensis 2.webp
public/images/2c/2c-Agaricus bitorquis 1.webp
public/images/2c/2c-Agaricus bitorquis 2.webp
public/images/2c/2c-Agaricus bitorquis 3.webp
public/images/2c/2c-Agaricus bitorquis 4.webp
public/images/2c/2c-Agaricus campestris 1.webp
public/images/2c/2c-Agaricus campestris 2.webp
public/images/2c/2c-Agaricus crocodilinus 1.webp
public/images/2c/2c-Agaricus crocodilinus 2.webp
public/images/2c/2c-Agaricus crocodilinus 8.webp
public/images/2c/2c-Agaricus crocodillinus 3.webp
public/images/2c/2c-Agaricus crocodillinus 4.webp
public/images/2c/2c-Agaricus crocodillinus 5.webp
public/images/2c/2c-Agaricus crocodillinus 6.webp
public/images/2c/2c-Agaricus crocodillinus 7.webp
public/images/2c/2c-Amanita caesarea 1.webp
public/images/2c/2c-Amanita caesarea 2.webp
public/images/2c/2c-Amanita caesarea ovulo 3.webp
public/images/2c/2c-Armillaria mellea 1.webp
public/images/2c/2c-Armillaria mellea 2.webp
public/images/2c/2c-Armillaria mellea 3.webp
public/images/2c/2c-Armillaria mellea 4.webp
public/images/2c/2c-Auricularia auricola-judae 1.webp
public/images/2c/2c-Auricularia auricola-judae 2.webp
public/images/2c/2c-Auricularia auricola-judae 3.webp
public/images/2c/2c-Boletus aereus 1.webp
public/images/2c/2c-Boletus aereus 2.webp
public/images/2c/2c-Boletus aestivalis 1.webp
public/images/2c/2c-Boletus aestivalis 2.webp
public/images/2c/2c-Boletus aestivalis 3.webp
public/images/2c/2c-Boletus aestivalis 4.webp
public/images/2c/2c-Boletus edulis 1.webp
public/images/2c/2c-Boletus edulis 2.webp
public/images/2c/2c-Boletus edulis 3.webp
public/images/2c/2c-Boletus edulis 4.webp
public/images/2c/2c-Boletus edulis 5.webp
public/images/2c/2c-Boletus edulis 6.webp
public/images/2c/2c-Boletus edulis 7.webp
public/images/2c/2c-Boletus edulis 8.webp
public/images/2c/2c-Boletus edulis 9.webp
public/images/2c/2c-Boletus edulis 10.webp
public/images/2c/2c-Boletus edulis 11.webp
public/images/2c/2c-Boletus edulis 12.webp
public/images/2c/2c-Boletus edulis 13.webp
public/images/2c/2c-Boletus pinophilus 1.webp
public/images/2c/2c-Boletus pinophilus 2.webp
public/images/2c/2c-Boletus pinophilus 3.webp
public/images/2c/2c-Boletus pinophilus 4.webp
public/images/2c/2c-Boletus pinophilus 5.webp
public/images/2c/2c-Boletus pinophilus 6.webp
public/images/2c/2c-Buthyriboletus regius 1.webp
public/images/2c/2c-Buthyriboletus regius 2.webp
public/images/2c/2c-Buthyriboletus regius 3.webp
public/images/2c/2c-Calocybe gambosa 1.webp
public/images/2c/2c-Calocybe gambosa 2.webp
public/images/2c/2c-Calocybe gambosa 3.webp
public/images/2c/2c-Calocybe gambosa 4.webp
public/images/2c/2c-Calocybe gambosa 5.webp
public/images/2c/2c-Cantharellus cibarius 1.webp
public/images/2c/2c-Cantharellus cibarius 2.webp
public/images/2c/2c-Cantharellus lutescens 1.webp
public/images/2c/2c-Cantharellus lutescens 2.webp
public/images/2c/2c-Cantharellus lutescens 3.webp
public/images/2c/2c-Craterellus cornucopioides 1.webp
public/images/2c/2c-Craterellus cornucopioides 2.webp
public/images/2c/2c-Cuphophyllus pratensis 1.webp
public/images/2c/2c-Cuphophyllus pratensis 2.webp
public/images/2c/2c-Cyclocybe aegerita 1.webp
public/images/2c/2c-Cyclocybe aegerita 2.webp
public/images/2c/2c-Cyclocybe aegerita 3.webp
public/images/2c/2c-Cyclocybe aegerita 4.webp
public/images/2c/2c-Hemileccinum impolitum 1.webp
public/images/2c/2c-Hemileccinum impolitum 2.webp
public/images/2c/2c-Hemileccinum impolitum 3.webp
public/images/2c/2c-Hydnum albidum 1.webp
public/images/2c/2c-Hydnum albidum 2.webp
public/images/2c/2c-Hydnum repandum 2.webp
public/images/2c/2c-Hydnum rufescens 1.webp
public/images/2c/2c-Hygrophorus penarioides 1.webp
public/images/2c/2c-Hygrophorus penarioides 2.webp
public/images/2c/2c-Hygrophorus russula 1.webp
public/images/2c/2c-Hygrophorus russula 2.webp
public/images/2c/2c-Infundibulicybe geotropa 1.webp
public/images/2c/2c-Lactarius deliciosus 1.webp
public/images/2c/2c-Lactarius deliciosus 2.webp
public/images/2c/2c-Lactarius sanguifluus 1.webp
public/images/2c/2c-Lactarius sanguifluus 2.webp
public/images/2c/2c-Lactarius sanguifluus 3.webp
public/images/2c/2c-Lactarius sanguifluus 4.webp
public/images/2c/2c-Lactarius sanguifluus 5.webp
public/images/2c/2c-Leccinellum crocipodium 1.webp
public/images/2c/2c-Leccinellum crocipodium 2.webp
public/images/2c/2c-Leccinellum crocipodium 3.webp
public/images/2c/2c-Leccinum aurantiacum 1.webp
public/images/2c/2c-Leccinum duriusculum 1.webp
public/images/2c/2c-Leccinum quercinum 1.webp
public/images/2c/2c-Leccinum quercinum 2.webp
public/images/2c/2c-Macrolepiota mastoidea 1.webp
public/images/2c/2c-Macrolepiota mastoidea 2.webp
public/images/2c/2c-Macrolepiota procera 1.webp
public/images/2c/2c-Macrolepiota procera 2.webp
public/images/2c/2c-Macrolepiota procera 3.webp
public/images/2c/2c-Macrolepiota procera 4.webp
public/images/2c/2c-Marasmius oreades 1.webp
public/images/2c/2c-Marasmius oreades 2.webp
public/images/2c/2c-Morchella conica 1.webp
public/images/2c/2c-Morchella conica 2.webp
public/images/2c/2c-Morchella conica 3.webp
public/images/2c/2c-Morchella conica 4.webp
public/images/2c/2c-Morchella esculenta 1.webp
public/images/2c/2c-Pleurotus ostreatus 1.webp
public/images/2c/2c-Russula aurea 1.webp
public/images/2c/2c-Russula aurea 2.webp
public/images/2c/2c-Russula cyanoxantha 1.webp
public/images/2c/2c-Russula cyanoxantha 2.webp
public/images/2c/2c-Russula delica 1.webp
public/images/2c/2c-Russula delica 2.webp
public/images/2c/2c-Russula heterophylla 1.webp
public/images/2c/2c-Russula heterophylla 2.webp
public/images/2c/2c-Russula vesca 1.webp
public/images/2c/2c-Russula vesca 2.webp
public/images/2c/2c-Russula vesca 3.webp
public/images/2c/2c-russula vesca 4.webp
public/images/2c/2c-Russula virescens 1.webp
public/images/2c/2c-Russula virescens 2.webp
public/images/2c/2c-Suillus granulatus 1.webp
public/images/2c/2c-Suillus granulatus 2.webp
public/images/2c/2c-Suillus granulatus 3.webp
public/images/2c/2c-Suillus granulatus 4.webp
public/images/2c/2c-Suillus granulatus 5.webp
public/images/2c/2c-Suillus luteus 1.webp
public/images/2c/2c-Suillus luteus 2.webp
public/images/2c/2c-Tricholoma acerbum 1.webp
public/images/2c/2c-Tricholoma acerbum 2.webp
public/images/2c/2c-Tricholoma acerbum 3.webp
public/images/2c/2c-Tricholoma terreum 1.webp
public/images/2c/2c-Tricholoma terreum 2.webp
public/images/2c/2c-Tricholoma terreum 3.webp
public/images/2c/2c-Xerocomus dryophilus 1.webp
public/images/2c/2c-Xerocomus dryophylus 2.webp
public/images/2c/2c-Xerocomus subtomentosus 1.webp
